.Mediauploadcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.Mediauploadcontainer .modal {
  width: 56.12%;
  height: 81.71%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2%;
  border-radius: 1.8%;
  background: var(--White, #fff);
  box-shadow: -2px -2px 5px 200px rgba(37, 37, 37, 0.75);
  -webkit-box-shadow: -2px -2px 5px 10000px rgba(37, 37, 37, 0.75);
  -moz-box-shadow: -2px -2px 5px 200px rgba(37, 37, 37, 0.75);
}
.Mediauploadcontainer .modal .cloud-container {
  width: 100%;
  height:44.04%;
  /* flex-shrink: ; */
  /* height: max-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  border-radius: 1.8%;
  border: 2.517px dashed #dadce0;
  /* border: 2.517% dashed #dadce0; */
}
.Mediauploadcontainer .modal .cloud-container .innercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.1175rem, -0.0005rem + 1.8876vw, 11.796875rem);
  color: #4f4f4f;
}
.Mediauploadcontainer .modal .cloud-container .innercontainer img{
    width: 100%;
}
.Mediauploadcontainer .modal .medias {
  width: 100%;
  /* height:32.07%; */
  height: fit-content;
  /* margin-bottom: 4%; */
  position: absolute;
  bottom: 17.7%;
  left: 0;
}
.Mediauploadcontainer .modal .medias .media-card {
  /* width: 100%; */
  min-height: 27.8%;
  padding: 0 4%;
  margin-bottom: 2%;
  
}
.Mediauploadcontainer .modal .medias .last-card{
  margin-bottom: 0px;
}
.Mediauploadcontainer .modal .actions {
  width: 96.5%;
  height: 6.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 0;
}
.Mediauploadcontainer .modal .actions button {
  width: 11.02%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
  font-weight: 400;
  outline: none;
}
.Mediauploadcontainer .modal .actions .cancel{
  border-radius: 4px;
  border: 2px solid var(--Grey-700, #4F4F4F);
}
